<div>
    <h3>SZAVAZÁS</h3>
</div>

<form (ngSubmit)="onSubmit()"  class="form-szavazas">
    <div>A termék minősége:</div>
    <select name="minoseg" id="minoseg" [(ngModel)]="minoseg">
        <option value="1">Alacsony</option>
        <option value="2">Átlag alatti</option>
        <option value="3">Átlagos</option>
        <option value="4">Átlag feletti</option>
        <option value="5">Nagyszerű</option>
    </select>

    <div>A kiszállítás gyorsasága:</div>
    <select name="gyorsasag" id="gyorsasag" [(ngModel)]="gyorsasag">
        <option value="1">Nagyon lassú</option>
        <option value="2">Lassú</option>
        <option value="3">Átlagos</option>
        <option value="4">Gyors</option>
        <option value="5">Nagyon gyors</option>
    </select>

    <div>A termék ára:</div>
    <select name="ar" id="ar" [(ngModel)]="ar">
        <option value="1">Nagyon drága</option>
        <option value="2">Viszonylag drága</option>
        <option value="3">Átlagos</option>
        <option value="4">Viszonylag olcsó</option>
        <option value="5">Nagyon olcsó</option>       
    </select>

    <button type="submit">Beküld</button>
</form>

<div>
    Minőség: {{ minoseg }}, Gyorsaság: {{ gyorsasag }}, Ár: {{ ar }}
</div>