h3, h4, h5 {
    text-align: center;
    margin-top:0px;
    margin-bottom:5px;
}

.marSzavazott {
    max-width: 400px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color:coral;
}
.form-szavazas {
    max-width: 200px;
    margin: auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #f7f7f7;
}

select {
    width:200px;
    padding:5px;
    margin-top: 2px;
    margin-bottom:10px;
    border-radius:5px;
    border: 1px solid;
}

.select:focus {
    border-color: blue;
}

button {
    width: 200px;
    margin-top:10px;
    padding: 4px;
    background-color:#24a0ed;
    border-radius: 5px;
    border: 1px solid black;
}